# Entorno virtual
venv/

# Base de datos
db.sqlite3

# Imágenes subidas por usuarios
media/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log